:root {
  background-color: rgb(209, 209, 209);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 30px;
}

.container div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-field {
  padding: 20px;
}
